<!-- views/partials/sidebar.ejs -->

<div class="col-sm-2">
  <ul class="sidebar-nav">
    <li> <a href="/catalog">Home</a></li>
    <li> <a href="/catalog/books">Livros</a></li>
    <li> <a href="/catalog/authors">Autores</a></li>
    <li> <a href="/catalog/genres">Gêneros</a></li>
    <li> <a href="/catalog/bookinstances">Exemplares de livros</a></li>
    <li> 
      <hr>
    </li>
    <li> <a href="/catalog/author/create">Cadastrar novo autor</a></li>
    <li> <a href="/catalog/genre/create">Cadastrar novo gênero</a></li>
    <li> <a href="/catalog/book/create">Cadastrar novo livro</a></li>
    <li> <a href="/catalog/bookinstance/create">Cadastrar um novo exemplar</a></li>
  </ul>
</div>
        